@model GroupsViewModel
@{
    ViewData["Title"] = "Index";
    var url = Url.Action("Index", "Group");
}

<h3>Групи</h3>
<div class="row">
    <div class="col-3">
        @Html.LabelFor(m => m.FacultyId)
        @Html.DropDownListFor(m => m.FacultyId, Model.Faculties, htmlAttributes: new { @class = "form-control faculty-selector", data_url = url })
    </div>
    <div class="col-9">
        <table class="table table-sm table-striped table-hover border-bottom">
            <thead>
                <tr class="d-none d-lg-table-cell">
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Items != null && Model.Items.Any())
                {
                    @foreach (var item in Model.Items.OfType<GroupViewModel>())
                    {
                        <tr>
                            <td class="d-none d-lg-table-cell">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.ActionLink("Редагувати", "Edit", "Group", routeValues: new { id = item.Id })
                            </td>
                            <td>
                                @Html.ActionLink("Видалити", "Delete", "Group", routeValues: new { id = item.Id }, htmlAttributes: new { @class = "btn-delete" })
                            </td>
                        </tr>
                    }
                }
                <tr>
                    <td colspan="3">
                        @Html.ActionLink("Додати групу", "Create", "Group", null, htmlAttributes: new { @class = "btn btn-success" })
                    </td>
                </tr>
            </tbody>
        </table>
        @if (Model.Page.HasPreviousPage)
        {
            <a asp-action="Index" asp-route-page="@(Model.Page.PageNumber - 1)" asp-route-facultyId="@Model.FacultyId" class="btn btn-default btn">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Назад
            </a>
        }
        @if (Model.Page.HasNextPage)
        {
            <a asp-action="Index" asp-route-page="@(Model.Page.PageNumber + 1)" asp-route-facultyId="@Model.FacultyId" class="btn btn-default btn">
                Вперед
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        }
    </div>
</div>