@model ExamSheet.Web.Models.GroupStatisticViewModel

<div class="spinner" style="display:none;"></div>

@if (Model != null && Model.GroupList != null && Model.GroupList.Count > 0)
{
    <div class="filters">
        <form asp-controller="Chart" asp-action="GetChartData" method="post" class="group-filter-form">
            @Html.DropDownList("group", Model.GroupList, htmlAttributes: new { @class = "form-control group-filter filter" })
            @Html.DropDownList("subject", Model.SubjectList, htmlAttributes: new { @class = "form-control subject-filter filter" })
            @Html.DropDownList("year", Model.YearList, htmlAttributes: new { @class = "form-control year-filter filter" })
            @Html.DropDownList("semester", Model.SemesterList, htmlAttributes: new { @class = "form-control semester-filter filter" })
            @if (User.IsInRole(ExamSheet.Business.Account.AccountType.Deanery))
            {
                @Html.DropDownList("teacher", Model.TeacherList, htmlAttributes: new { @class = "form-control teacher-filter filter" })
            }
            else
            {
                @Html.Hidden("teacher", Model.TeacherId)
            }
        </form>
    </div>
}
<div class="chart-not-available" style="display:none;">
    <span>Немає даних для аналізу</span>
</div>
<div class="chart-wrapper" style="display:none;">
    <div class="group-chart-wrapper" style="width:800px;height:800px;">
        <div class="pie-chart">
            <canvas id="pieChart"></canvas>
        </div>
        <div class="bar-chart">
            <canvas id="barChart"></canvas>
        </div>
    </div>
    <div class="students-rating">
        <table class="students-table">
            <thead>
                <tr>
                    <th>Студент</th>
                    <th colspan="2">Оцінка</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
