@model ExamSheet.Web.Models.TeacherSheetViewModel

<div class="form-container">
    @using (Html.BeginForm(FormMethod.Post, htmlAttributes: new { @class = "form-create-sheet" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        @Html.ValidationSummary()
        <h4>@Html.DisplayFor(m => m.State) відомість</h4>
        
        <div class="form-group">
            @Html.DisplayFor(m => m.Faculty.Name), @Html.DisplayFor(m => m.Group.Name), @Html.DisplayFor(m => m.Subject.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Teacher)
            @string.Format("{0} {1}", Model.Teacher.Surname, Model.Teacher.Name)
        </div>
        <div class="form-group">
            @Html.DisplayFor(m => m.Year) @Html.LabelFor(m => m.Year) @Html.DisplayFor(m => m.Semester) @Html.LabelFor(m => m.Semester)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Ratings)
        </div>
        @for (int i = 0; i < Model.Ratings.Count; ++i)
        {
            string studentName = string.Format("{0} {1}", Model.Ratings[i].Student.Surname, Model.Ratings[i].Student.Name);
            <div class="form-group">
                @Html.HiddenFor(m => Model.Ratings[i].ExamSheetId)
                @Html.HiddenFor(m => Model.Ratings[i].StudentId)
                @Html.LabelFor(m => Model.Ratings[i].Mark, studentName)
                @Html.TextBoxFor(m => Model.Ratings[i].Mark, htmlAttributes: new { type = "number", @class = "form-control" })
                @Html.ValidationMessageFor(m => Model.Ratings[i].Mark)
            </div>
        }

        <button type="submit" class="btn btn-primary">Зберегти</button>
        <button type="submit" class="btn btn-primary">Зберегти та закрити</button>
        <a asp-action="Index" asp-controller="TeacherSheet" class="btn btn-primary btn-back">Назад</a>
    }
</div>