@model IndexPageViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="header">
    <h1>Відомості</h1>
</div>

<div class="filter-container">
    <form asp-action="Index" method="post" class="form-inline form-exam-sheets-filter">
        <div class="form-group">
            @Html.LabelFor(m => m.Filter.State)
            @Html.DropDownListFor(m => m.Filter.State, Model.Filter.StateList, htmlAttributes: new { @class = "form-control", data_name = "State" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Filter.SubjectId)
            @Html.DropDownListFor(m => m.Filter.SubjectId, Model.Filter.SubjectList, htmlAttributes: new { @class = "form-control", data_name = "SubjectId" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Filter.FacultyId)
            @Html.DropDownListFor(m => m.Filter.FacultyId, Model.Filter.FacultyList, htmlAttributes: new { @class = "form-control", data_name = "FacultyId" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Filter.GroupId)
            @Html.DropDownListFor(m => m.Filter.GroupId, Model.Filter.GroupList, htmlAttributes: new { @class = "form-control", data_name = "GroupId" })
        </div>
    </form>
</div>

<div class="card-container container">
    @if (Model.ExamSheets != null && Model.ExamSheets.Any())
    {
        foreach (var sheet in Model.ExamSheets)
        {
            var group = sheet.Group == null ? string.Empty : sheet.Group.Name;
            var faculty = sheet.Faculty == null ? string.Empty : sheet.Faculty.Name;
            var subject = sheet.Subject == null ? string.Empty : sheet.Subject.Name;
            var teacher = sheet.Teacher == null ? string.Empty : string.Format("{0} {1}", sheet.Teacher.Surname, sheet.Teacher.Name);
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Відомість</h5>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-success">@teacher</li>
                        <li class="list-group-item list-group-item-success">@subject</li>
                        <li class="list-group-item list-group-item-success">@group</li>
                        <li class="list-group-item list-group-item-success">@faculty</li>
                        <li class="list-group-item list-group-item-success">@sheet.Semester семестр @sheet.Year рік</li>
                    </ul>

                </div>
                <div class="card-footer">
                    @if (sheet.State == ExamSheetState.Open)
                    {
                        <a asp-action="Edit" asp-controller="TeacherSheet" asp-route-id="@sheet.Id" class="btn">Заповнити</a>
                    }
                    else
                    {
                        <a asp-action="ViewSheet" asp-controller="TeacherSheet" asp-route-id="@sheet.Id" class="btn">Переглянути</a>
                    }

                    @*<a asp-action="Download" asp-controller="TeacherSheet" asp-route-id="@sheet.Id" class="btn download-word"><i class="fa fa-file-text-o"></i></a>*@
                </div>
            </div>
        }
        @Html.Partial("_PageModel", Model.Page)
    }
</div>