@model ExamSheet.Web.Models.TeacherSheetViewModel

<div class="form-container">
    <form asp-controller="TeacherSheet" asp-action="Edit" method="post" class="form-create-sheet">
        <h4>@Html.DisplayFor(m => m.State) відомість</h4>
        <div class="form-group">
            @Html.DisplayFor(m => m.Faculty.Name), @Html.DisplayFor(m => m.Group.Name), @Html.DisplayFor(m => m.Subject.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Teacher)
            @string.Format("{0} {1}", Model.Teacher.Surname, Model.Teacher.Name)
        </div>
        <div class="form-group">
            @Html.DisplayFor(m => m.Year) @Html.LabelFor(m => m.Year) @Html.DisplayFor(m => m.Semester) @Html.LabelFor(m => m.Semester)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Ratings)
        </div>
        <div class="form-group">
            <table class="table">
                @for (int i = 0; i < Model.Ratings.Count; ++i)
                {
                    string studentName = string.Format("{0} {1}", Model.Ratings[i].Student.Surname, Model.Ratings[i].Student.Name);
                    <tr>
                        <td>@studentName</td>
                        <td>@Html.TextBoxFor(m => Model.Ratings[i].Mark, htmlAttributes: new { type = "number", @class = "form-control", @readonly = "readonly" })</td>
                    </tr>
                }
            </table>
        </div>
        <a asp-action="Index" asp-controller="TeacherSheet" class="btn btn-primary btn-back">Назад</a>
    </form>
</div>