@model ItemsViewModel
@{
    ViewData["Title"] = "Index";
}

<h3>Предмети</h3>
<div class="row">
    <div class="col-12">
        <table class="table table-sm table-striped table-hover border-bottom">
            <thead>
                <tr class="d-none d-lg-table-cell">
                    <th>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Items != null && Model.Items.Any())
                {
                    @foreach (var item in Model.Items.OfType<SubjectViewModel>())
                    {
                        <tr>
                            <td class="d-none d-lg-table-cell">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.ActionLink("Редагувати", "Edit", "Subject", routeValues: new { id = item.Id })
                            </td>
                            <td>
                                @Html.ActionLink("Видалити", "Delete", "Subject", routeValues: new { id = item.Id }, htmlAttributes: new { @class = "btn-delete" })
                            </td>
                        </tr>
                    }
                }
                <tr>
                    <td colspan="3">
                        @Html.ActionLink("Додати предмет", "Create", "Subject", null, htmlAttributes: new { @class = "btn btn-success" })
                    </td>
                </tr>
            </tbody>
        </table>
        @Html.Partial("_PageModel", Model.Page)
    </div>
</div>